<!DOCTYPE html>
<html lang="rus" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>add</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div th:insert="~{header :: copy}"></div>
<h1>Добавление</h1>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  <form action="/users/new" method="post">
    <input required type="text"  name="login" placeholder="login"></br>
    <input required type="text"  name="password" placeholder="password"></br>
    <button class="btn" type="submit" >Добавить пользователя</button>
  </form>
    </div>
  </div>
</div>
<div th:insert="~{footer :: foot}"></div>

</body>
</html>