<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user</title>
</head>
<body>
<h1>Редактирование</h1>
<div th:each="el : ${user}">
  <form method="post">
    <input type="text" th:value="${el.getLogin()}" name="login" placeholder="login"></br>
    <input type="text" th:value="${el.getPassword()}" name="password" placeholder="password"></br>
      <input type="text" th:value="${el.getBalance()}" name="balance" placeholder="balance"></br>
      <button type="submit" >Обновить</button>
  </form>
</div>
</body>
</html>