<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div th:fragment="copy" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal">Myzika</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="/main">main</a>
    <a class="p-2 text-dark" href="#">лоол</a>
    <a class="p-2 text-dark" href="#">ver</a>
    <a class="p-2 text-dark"  href="#">хахаха</a>
  </nav>
  <a class="btn btn-outline-primary" href="#">Sign up</a>
</div>
</body>
</html>