<!DOCTYPE html>
<html lang="rus" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>menu</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div th:each="el: ${user}" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Myzika</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/music">music</a>
        <a class="p-2 text-dark" href="#">лоол</a>
        <a class="p-2 text-dark" href="#">ver</a>
        <label for="bal">баланс:</label>
        <a name="bal" class="p-2 text-dark" th:text="${el.getBalance()}"  href="#"></a>
    </nav>
    <a class="btn btn-outline-primary" th:href="'/main/'+ 'addBal/' + ${el.getId()}">Пополнить баланс</a>
</div>
<div style="margin: auto">
    <h1>User</h1>
</div>
</body>
</html>