<!DOCTYPE html>
<html lang="rus">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div th:insert="~{header :: copy}"></div>

<h1>Редактирование музыки</h1>
    <a href="/music/sort1" class="btn" name="b1" id="btnradio1" >Сорт по имени</a>
    <a href="/music/sort2" class="btn" name="b2" id="btnradio2" >Сорт по году</a>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col" th:each="al : ${album}">
                <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: group" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="40%" y="50%" fill="#eceeef" dy=".3em">Дайте танк</text></svg>

                    <div class="card-body">
                        <p class="card-text" th:text="${al.getName()}"></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary" th:href="@{/music/{id}(id=${al.getId()})}">View</a>
                            </div>
                            <small class="text-muted" th:text="${al.getMin()} + ' min'"></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="/music/addAl" class="btn">Добавить альбом</a>
    </div>
        <a th:href="@{/music/print}" class="btn" name="b2"  >Составить отчет</a>

</div>
<div th:insert="~{footer :: foot}"></div>
</body>

</html>