<!DOCTYPE html>
<html lang="rus">
<head>
    <meta charset="UTF-8">
    <title>playlist</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div th:insert="~{header :: main}"></div>

<h1>Плейлист</h1>

<div class="col">
    <div  th:each="us : ${user}">
    <form th:action="@{/main/{id}/playlist/sort3(id=${us.getId()})}">
        <input type="number" required min="1" max="10000" name="min">
        <button class="btn" type="submit">Фильтровать по длительности</button>
    </form>
    </div>
    <div th:each="el: ${album}">
        <ul class="list-group list-group-flush">
            <div th:each="song: ${song}">
                <li class="list-group-item" th:text="${song.getName()} +' '+ ${song.getMin()} + ' min'"></li>
            </div>
        </ul>

    </div>
</div>
<div th:insert="~{footer :: foot}"></div>



</body>
</html>